*{
    font-family: Tahoma, Geneva, sans-serif;
}
h2{
    background-color: white;
}
h3{
    background-color: white;
}
h4{
    background-color: white;
}
p {
    background-color: white;
}
body{
    background-color: rgb(255, 204, 128);
}

h1 {
    color: white;
}

#intro {
    background-color: white;
}

#links{
    background-color: white;
}

#project{
    background-color: white;
}

#upload{
    background-color: white;
}